body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    background-color: black;
}
::-webkit-scrollbar
{
    display: none;
}
.iphone
{
    position: absolute;
    height: 879px;
}

.phone
{
    height: 812px;
    width: 375px;
    background-color: white;
    border-radius: 35px;
    overflow: scroll;
    z-index: 1;
}

nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 0 25px;
  }
  nav .gauche
  {
    display: flex;
    flex-wrap:wrap;
  }
  nav .gauche img
  {
    padding-top: 5px;
  }
  nav .gauche .onglets
  {
    display: flex;
    flex-wrap:wrap;
    margin-left: 10px;
  }
  nav .gauche .onglets p
  {
    margin-left: 10px;
    cursor:pointer;
    color: #909191;
  }
  nav .gauche .onglets p:hover
  {
    color: #fff;
  }
  nav .droite{
    display: flex;
    flex-wrap:wrap;
  }
  nav .droite p{
    margin-right: 10px;
    cursor:pointer;
  }
  /* Fin de la barre de navigation */
